@model HavenAtTheCrossroads.Models.SessionModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>SessionModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SessionId" class="control-label"></label>
                <input asp-for="SessionId" class="form-control" />
                <span asp-validation-for="SessionId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DM" class="control-label"></label>
                <input asp-for="DM" class="form-control" />
                <span asp-validation-for="DM" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gold" class="control-label"></label>
                <input asp-for="Gold" class="form-control" />
                <span asp-validation-for="Gold" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Exp" class="control-label"></label>
                <input asp-for="Exp" class="form-control" />
                <span asp-validation-for="Exp" class="text-danger"></span>
            </div>
            <input type="submit" class="btn btn-info" value="Add attribute" name="action:AddChar" asp-action="post" />
            @for (int i = 0; i < Model.Characters.Count; i++)
            {
                <div class="form-group">
                    <label asp-for="Characters[i].Name" class="control-label"></label>
                    <input asp-for="Characters[i].Name" class="form-control" />
                    <label asp-for="Characters[i].UserId" class="control-label"></label>
                    <input asp-for="Characters[i].UserId" class="form-control" />
                    <span asp-validation-for="Exp" class="text-danger"></span>
                </div>
            }
            
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
